.sidenavs a{

  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenavs a {
  padding: 20px 6px 6px 28px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}