* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-image: url(../../images/fcurve.jpg);
	background-size: cover;
	color: white;
}

nav {
	height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

nav > img {
	margin-left: 40px;
}

nav > button {
	height: max-content;
	width: 100px;
	margin-top: 10px;
	margin-right: 80px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 20px;
}

.header {
	height: 65vh;
	padding: 40px;

}

.header > h1 {
	font-size: 60px;
	padding-top: 6%;
	padding-left: 5%;
	display: flex;

}

.footer {
	background-color: black;
	padding: 20px;
	text-align: center;
}

